/* Responsive on Android Pixel 5 */

@media only screen and (max-width: 780px) {
  * {
    box-sizing: border-box;
  }

  h1 {
    /* This changes responsive */
    font-size: 25px;
  }

  body {
    border: 0;
    margin: 0;
    background-color: rgb(200, 200, 200);
  }

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #innerContainer {
    background-color: rgb(139, 139, 139);
    padding: 20px 20px 0px 20px;
  }

  /* This class defines all boxes sizes :) */
  .boxes {
    /* This changes responsive */
    width: 215px;
    height: 215px;
    margin-bottom: 20px;
  }

  #redBox {
    background-color: rgb(255, 0, 0);
    border: 20px solid rgb(113, 0, 0);
  }

  /* Using percents :) */
  #innerRedBox {
    width: 100%;
    height: 50%;
    background-color: rgb(255, 126, 126);
    margin-top: 50%;
  }

  #yellowBox {
    background-color: rgb(255, 255, 0);
    border: 20px solid rgb(200, 190, 0);
  }

  /* margin: [top , right, bottom, left]  :)*/
  #innerYellowBox {
    width: 50%;
    height: 50%;
    background-color: rgb(248, 222, 93);
    margin: 50% 0% 0% 50%;
  }

  #greenBox {
    background-color: rgb(0, 255, 42);
    border: 20px solid rgb(33, 173, 2);
  }

  #innerGreenBox {
    width: 50%;
    height: 50%;
    background-color: rgb(171, 249, 161);
    margin: 50% 0% 0% 0%;
  }
}
