* {
  margin: 0;
  border:0;
  padding:0;
  box-sizing:border;
}

body {
  position: relative;
  background-color: rgb(180, 180, 180);
}

#container {
  position:relative;
  margin: auto; /* Center the content */
  background-color: rgb(88, 88, 88);
  width: 240px;
  height: 750px;
  padding: 15px;
}

/* This class defines all boxes sizes :) */
.boxes{
  /* Default value for Position is "static" */
  position: static;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

#redBox {
  background-color: rgb(255, 0, 0);
  border: 20px solid rgb(113, 0, 0);
}

/* Using percents :) */
#internalRedLighterBox {
  width: 100%;
  height: 50%;
  background-color: rgb(255, 126, 126);
  margin-top: 50%;
}

#yellowBox {
  background-color: rgb(255, 255, 0);
  border: 20px solid rgb(200, 190, 0);
}

/* margin: [top , right, bottom, left]  :)*/
#internalYellowDarkerBox {
  width: 50%;
  height: 50%;
  background-color: rgb(248, 222, 93);
  margin: 50% 0% 0% 50%;
}

#greenBox {
  background-color: rgb(0, 255, 42);
  border: 20px solid rgb(33, 173, 2);
}

#internalGreenLighterBox {  
  width: 50%;
  height: 50%;
  background-color: rgb(171, 249, 161);
  margin: 50% 0% 0% 0%;
}